recursive-include src/basic_bot/webapp *
recursive-exclude src/basic_bot/webapp/node_modules *
recursive-exclude src/basic_bot/webapp/package-lock.json *
recursive-include src/basic_bot/created_files *
