# these are build dependencies for basic_bot itself
build
cachetools
setuptools>=57.0
flake8
pytest
mypy
mkdocs
mkdocs-material
pydoc-markdown

types-Flask-Cors
types-psutil
types-requests
types-PyYAML
types-jsonschema
opencv-stubs

# Runtime dependencies needed for mypy type checking
numpy
websockets==10.4
websocket-client
aiohttp
aiohttp_cors
Pillow
aiortc==1.10.1
av

