# these are build dependencies for basic_bot itself
build
cachetools
setuptools>=57.0
flake8
pytest
mypy>=1.14.1
mkdocs
mkdocs-material
pydoc-markdown

types-Flask-Cors
types-psutil
types-requests
types-PyYAML
