name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt update

          # needed for vision service record video tests
          sudo apt install --fix-missing -y ffmpeg libx264-dev

          sudo apt install -y python3-pip
          pip install --upgrade pip
          pip --version
          pip install build setuptools wheel
          pip install -r requirements.txt
          chmod +x ./*.sh

          # needed for bb_create e2e test
          sudo apt install -y nodejs
          echo 'node and npm versions:'
          node --version
          npm --version
          echo 'Install deps npm path:'
          which npm

        # this also runs build.sh which in turn runs mypy
      - name: Run build and install
        run: ./install-dev.sh

      - name: Run linters and type checker
        run: ./lint.sh

      - name: Run tests
        run: |
          echo 'npm path:'
          which npm
          ./test.sh

      - name: Upload log artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: ./logs/*
